.info-content {
  width: fit-content;
  .input-container {
    .views-input,
    .posted-input {
      width: 101.5px;
      margin-right: 25px;
    }
  }

  .input-container {
    margin-bottom: 3px;
    height: fit-content;

    .ago-select {
      background-color: rgba(128, 128, 128, 0.1);
      outline: none;
      border: 1px dashed rgba(128, 128, 128, 0.75);
      padding: 9.5px 0;
    }

    label {
      font-size: 18px;
      height: fit-content;
    }

    input,
    input:focus {
      margin-bottom: 10px;
      padding-left: 10px;
      font-size: 25px;
      outline: none;
      border: 1px dashed rgba(128, 128, 128, 0.75);
    }

    input {
      background-color: rgba(128, 128, 128, 0.1);
    }

    input:focus {
      background-color: rgba(128, 128, 128, 0.25);
    }
  }
}
