$you: rgb(27, 137, 255);
$them: rgb(49, 49, 50);

.message-upload-container {
  background-color: white;
  border: 0.5px solid rgba(128, 128, 128, 0.75);
  border-radius: 4px;
  padding: 20px;
  margin: 20px;
  margin-right: 0;
  margin-bottom: 0;
  height: fit-content;
  max-width: 413px;

  .convo-header {
    margin-bottom: 10px;
  }

  .message-convo-container {
    margin-top: 20px;

    .delivered {
      margin-left: 10px;
      font-weight: 500;
      color: rgb(139, 139, 139);
      float: right;
    }

    .message {
      display: flex;
      align-items: center;
      padding: 15px 0;
      border-top: 0.5px solid rgba(128, 128, 128, 0.75);

      input,
      textarea,
      select {
        width: 100%;
        padding-left: 10px;
        font-size: 15px;
        outline: none;
        border-radius: 20px;
        border: 0.5px solid rgba(128, 128, 128, 0.25);
        height: 28px;

        &:focus {
          border: 0.5px solid rgba(128, 128, 128, 0.75);
        }
      }

      .message-buttons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .change-them-btn,
        .change-you-btn {
          height: 30px;
          padding: 4px;
          border-radius: 8px;
          margin-right: 5px;

          &:hover {
            cursor: pointer;
            opacity: 0.75;
            background-color: rgba(128, 128, 128, 0.25);
          }
        }
        .active {
          cursor: default !important;
          opacity: 1 !important;
          background-color: inherit !important;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
            rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        }
      }
    }
  }

  input {
    padding-left: 10px;
    font-size: 15px;
    outline: none;
    border: 1px dashed rgba(128, 128, 128, 0.75);
    background-color: rgba(128, 128, 128, 0.1);
  }

  input:focus {
    background-color: rgba(128, 128, 128, 0.25);
  }

  .message-convo-container {
    overflow: scroll;
    padding-bottom: 0;
    border-top: none;

    .message-container {
      width: 100%;
    }

    .delete-message {
      color: black;
      border-radius: 8px;
      align-items: center;
      padding: 8px;
      text-decoration: none;
      font-size: 1em;
      font-weight: 300;
      margin-left: 10px;

      &:hover {
        cursor: pointer;
        opacity: 0.75;
        background-color: rgba(128, 128, 128, 0.25);
      }

      &:hover {
        cursor: pointer;
        opacity: 0.75;
      }
    }

    .day-select {
      width: 145px;
      height: 28.5px;
    }

    textarea {
      width: 145px;
    }

    textarea,
    input,
    select {
      background-color: white;
      margin-right: 10px;
      padding-left: 10px;
      font-size: 15px;
      outline: none;
      border: 1px dashed rgba(128, 128, 128, 0.75);
      resize: none;
    }

    select {
      width: 110.25px;
    }
  }

  .new-message-container {
    // edit this
    border-top: 0.5px solid rgba(128, 128, 128, 0.75);
    color: #dae0e6;
    padding-top: 20px;
  }
  .new-messages {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .new-message,
    .new-delivered,
    .new-time {
      padding: 4px 8px;
      border: 1px solid #1f1f1f;
      // border-radius: 20px;

      &:hover {
        cursor: pointer;
        opacity: 0.75;
      }
    }

    .new-message {
      width: 100%;
      margin-right: 10px;
      background-color: rgb(27, 137, 255);
      border: 0.5px solid #1f1f1f;
      border-radius: 8px;
    }

    .new-delivered,
    .new-time {
      background-color: rgb(139, 139, 139);
      border: 0.5px solid #1f1f1f;
      border-radius: 8px;
    }

    .new-delivered {
      margin-right: 10px;
    }
  }
}

@media screen and (min-width: 881px) {
  .message-upload-container {
    min-width: 413px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 451px) {
  .message-upload-container {
    min-width: 413px;
  }
}

@media screen and (max-width: 450px) {
  .message-upload-container {
    min-width: 413px;
    border-radius: 0;
  }
}
