$width: 254.98px;
$height: 143.42px;
$channel-pic-width: 38px;
$channel-pic-height: 38px;
$title-font: 14px;
$desc-font: 12.5px;

.mobile-preview-dark {
  height: fit-content;
  min-width: 370px;
  max-width: 370px;
  background-color: black;

  .dark {
    .thumbnail-border {
      border-bottom: 1px dashed rgba(255, 0, 0, 0.503);
    }

    .upload-thumbnail {
      background-color: rgba(255, 0, 0, 0.1);
      aspect-ratio: $width / $height;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap-reverse;
      overflow: hidden;
      background-size: contain;
      position: relative;

      .template {
        width: 100%;
        z-index: 1;
        position: absolute;
      }

      .hidden-input {
        cursor: pointer;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }

      .upload {
        text-align: center;
        margin: auto 0;
        color: rgba(255, 0, 0, 0.5);
      }

      .time-stamp {
        font-family: "Roboto", "Arial", sans-serif;
        border-radius: 4px;
        font-size: calc($desc-font + 1.5px);
        background-color: #000000cc;
        color: white;
        opacity: 0.9;
        padding: 0 4px;
        width: fit-content;
        position: absolute;
        bottom: 0;
        margin-top: auto;
        margin-bottom: 4px;
        margin-right: 4px;
      }
    }

    .thumbnail {
      aspect-ratio: $width / $height;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap-reverse;
      overflow: hidden;
      background-size: contain;
      position: relative;

      .hidden-input {
        cursor: pointer;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }

      .hidden-upload-icon {
        cursor: pointer;
        color: rgba(255, 0, 0, 0.75);
        opacity: 1;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto 0;
        width: 100%;
      }

      .pic {
        width: 100%;
      }

      .template {
        width: 100%;
        z-index: 1;
        position: absolute;
      }

      .time-stamp {
        font-family: "Roboto", "Arial", sans-serif;
        border-radius: 4px;
        font-size: calc($desc-font + 1.5px);
        background-color: #000000cc;
        color: white;
        opacity: 0.9;
        padding: 0 4px;
        width: fit-content;
        position: absolute;
        bottom: 0;
        margin-top: auto;
        margin-bottom: 4px;
        margin-right: 4px;
        z-index: 9999;
      }
    }

    .upload-channel-pic {
      border-radius: 50%;
      font-size: 18px;
      border: 1px dashed rgba(255, 0, 0, 0.5);
      width: calc($channel-pic-width);
      height: calc($channel-pic-height);
      background-color: rgba(255, 0, 0, 0.1);
      margin: 10px 10px 40px 10px;

      overflow: hidden;
      background-size: contain;
      position: relative;

      .hidden-input {
        cursor: pointer;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }

      .user-plus-icon {
        margin: 9px 9px;
        align-items: center;
        color: rgba(255, 0, 0, 0.5);
      }
    }

    .channel-pic {
      border-radius: 50%;
      width: calc($channel-pic-width);
      height: calc($channel-pic-height);
      margin: 10px 10px 40px 10px;
      overflow: hidden;
      position: relative;

      img {
        max-height: auto;
        max-width: 100%;
        object-fit: contain;
      }
    }

    .info {
      padding: 0 24px 0 0;
      overflow-x: hidden;
      max-width: 370px;
      word-wrap: break-word;
      min-width: 325px;

      .mobile-options {
        float: right;
        margin: 15px 0 0 0;
        font-size: 13px;
        color: #f1f1f1;
      }

      .title {
        font-family: "Roboto", "Arial", sans-serif;
        font-size: calc($title-font * 1.2);
        color: #f1f1f1;
        margin: 12px 0 0 0;
        line-height: normal;
        max-height: 4rem;
        overflow: hidden;
        display: block;
        -webkit-line-clamp: 2;
        display: box;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        white-space: wrap;
      }

      .channel-name,
      .views,
      .time-ago {
        font-family: "Roboto", "Arial", sans-serif;
        color: #aaaaaa;
        font-size: calc($desc-font * 1.1);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: wrap;
      }

      .bullet {
        background-color: #aaaaaa;
        width: 2px;
        height: 2px;
        margin: auto 4px;
        border-radius: 100%;
      }
    }
  }
}
