.main {
  height: calc(100% - 70.77px);
}

.about {
  display: flex;
  // width: 912px;
  min-width: 420px;
  font-size: 15px;
  // font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  max-width: 801px;
  height: 450px;
}

@media screen and (max-width: 1023px) {
  .about {
    max-width: 801px;
  }
}

@media screen and (max-width: 830px) {
  .about {
    max-width: 436px;
    min-width: 420px;
    height: fit-content;
  }
}
