.upload-container {
  .upload-channel-pic {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px dashed rgba(128, 128, 128, 0.75);
    background-color: rgba(128, 128, 128, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
      opacity: 0.75;
      transform: scale(101%);
    }

    .hidden-input {
      cursor: pointer;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }

    .upload-channel-label {
      font-size: 10px;
    }

    svg {
      font-size: 10px;
    }
  }

  .scroll-container {
    .scroll {
      label {
        margin-bottom: 0.25em;
      }

      .temp {
        background-color: rgba(128, 128, 128, 0.1);
      }

      .popular {
        margin-right: 1.25em;
        width: 65px;
        &:hover {
          cursor: pointer;
          opacity: 0.75;
          transform: scale(101%);
        }

        img {
          border-radius: 50%;
          width: 75px;
          height: 100%;
          border: 1px solid rgba(0, 0, 0, 0.6);
        }
      }
    }
  }
}
