.home {
  padding: 2rem;
  padding-top: 1em;
  width: 100%;

  .memeshot {
    text-decoration: none;
    color: inherit;
    &:hover {
      cursor: pointer;
      opacity: 0.75;
    }
  }

  h1 {
    font-size: 40px;
    font-weight: bold;
  }

  h3 {
    font-size: 25px;
  }

  .example-title {
    font-size: 25px;
    font-weight: bold;
  }

  .example-text {
    padding-right: 30px;
  }

  .example-pics {
    max-width: 500px;
    img {
      max-width: 500px;
      min-width: 288px;
    }
  }

  .content-container {
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-top: none;
    background-color: white;
    margin: 0 auto;
    width: fit-content;
    min-height: 100%;

    .content {
      padding: 1rem;
      padding-top: 0em;
    }
  }
}

@media screen and (max-width: 560px) {
  .home {
    .example-pics {
      width: 90vw;

      img {
        width: inherit;
        padding-right: 30px;
      }
    }
  }
}
