.upload-containers-tabs {
  display: none;
  .nav-link.active {
    color: rgba(255, 0, 0, 0.75) !important;
  }

  .nav-link {
    color: black !important;
    &:hover {
      opacity: 1 !important;
      text-decoration: none;
    }
  }

  .nav-tabs {
    --bs-nav-tabs-border-width: 1px;
    --bs-nav-tabs-border-radius: 0;
  }
}
