.upload-content-container {
  background-color: white;
  padding: 30px;
  margin: 20px 20px 20px 40px;
  background-size: contain;
  position: relative;
  border: 0.5px solid rgba(128, 128, 128, 0.75);
  border-radius: 4px;

  .upload-header {
    font-size: 13px;
  }
}

.preview {
  padding: 1em;
  padding-top: 0.5em;
  position: fixed;

  .preview-container {
    .youtube-download {
      width: 372px;
      border: 1px solid black;
      background-color: red;
      color: white;
      padding: 10px;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  .preview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    h4 {
      font-size: 20px;
      text-align: center;
      color: rgba(128, 128, 128, 0.5);
      margin-bottom: 0;
    }
  }

  .switch {
    display: flex;
    align-items: center;
  }

  .nav-link.active {
    color: black !important;
    font-weight: 500;
    text-decoration: none !important;
    &:hover {
      cursor: default;
      opacity: 1 !important;
    }
  }
}

.content-tabs {
  display: none;
  .nav-link.active {
    color: rgba(255, 0, 0, 0.75) !important;
  }

  .nav-link {
    color: black !important;
    &:hover {
      opacity: 1 !important;
      text-decoration: none;
    }
  }

  .nav-tabs {
    --bs-nav-tabs-border-width: 1px;
    --bs-nav-tabs-border-radius: 0;
  }
}

@media screen and (max-width: 880px) {
  .content-tabs {
    display: block;
    background-color: white;
    border: 0.5px solid rgba(128, 128, 128, 0.75);
    border-radius: 4px;
    padding-top: 20px;
    padding-left: 20px;
    margin: 20px;
    margin-bottom: 0;
    margin-right: 0;
    height: -moz-fit-content;
    height: fit-content;
    max-width: 413px;

    .thumbnail-container,
    .channel-container,
    .info-container {
      border: 0;
      padding: 0;
      padding-bottom: 20px;
      padding-right: 20px;
      margin: 0;
    }

    .channel-container {
      .scroll-container {
        .scroll {
          max-width: 280px;
        }
      }
    }
  }

  .upload-content-container {
    width: fit-content;
    .sm-thumbnail-ad-box {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 11px;
      height: 90px;
      border: 1px dashed rgba(128, 128, 128, 0.75);
      background-color: rgba(0, 128, 0, 0.5);
    }
  }

  .preview,
  .preview-container {
    width: fit-content;
  }

  .preview-header {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 830px) {
    .upload-content-container {
      min-height: none;
      .sm-thumbnail-ad-box {
        display: none;
      }
    }

    .info-ad-box {
      display: none;
    }

    .preview {
      border-top: 1px solid rgba(255, 0, 0, 0.25);
    }
  }
}

@media screen and (max-width: 450px) {
  .content-tabs {
    margin: 0;
    border-radius: 0;
    min-width: 100vw;
    .thumbnail-container,
    .channel-container,
    .info-container {
      min-width: none;
      max-width: 90vw;
      padding-right: 0;
    }
  }

  .youtube-preview {
    margin: 0;
    margin-top: 20px;
    border-radius: 0;
  }
}
