.main {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 70px;
  margin-left: 140px;

  .main-content {
    display: flex;
    justify-content: center;
    position: absolute;

    .upload-container {
      background-color: white;
      border: 0.5px solid rgba(128, 128, 128, 0.75);
      border-radius: 4px;
      padding: 20px;
      margin: 20px;
      margin-bottom: 20px;
      margin-right: 0;
      height: fit-content;
      max-width: 413px;
      min-width: 290px;
    }

    // .preview {
    //   background-color: white;
    //   border: 0.5px solid rgba(128, 128, 128, 0.75);
    //   border-radius: 4px;
    //   padding: 20px;
    //   // padding-bottom: 0;
    //   margin: 20px;
    //   height: fit-content;
    //   position: sticky;
    //   top: 90px;

    //   .preview-header {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     margin: 10px 0;

    //     h4 {
    //       font-size: 20px;
    //       text-align: center;
    //       color: rgba(128, 128, 128, 0.5);
    //       margin-bottom: 0;
    //     }
    //   }
    // }

    .upload-content {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 1050px) {
  .main {
    margin-left: 0px;
  }
}

@media screen and (max-width: 880px) {
  .main {
    .main-content {
      flex-direction: column;
      .upload-content {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 610px) {
  .main {
    margin-left: 0;
  }
}

@media screen and (max-width: 450px) {
  .main {
    justify-content: flex-start;
    .main-content {
      margin: 0;
      width: fit-content;
      position: relative;
    }
  }
}
