$dm-bg-upload-container: rgb(28, 28, 33);
$dm-header: #bfbfbf;
$dm-icon-disabled: rgb(136, 136, 136);

.main {
  position: absolute;
  top: 70px;
  left: 160px;
  right: 0;
  bottom: 0;

  .main-components {
    display: flex;
    min-width: 330px;

    .upload-containers-grid {
      display: grid;

      .upload-container {
        border-radius: 4px;
        margin: 20px 0 0 20px;
        padding: 20px;
        max-width: 413px;

        .upload-container-header {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .icon-enabled {
            border-radius: 8px;
            align-items: center;
            padding: 8px;
            text-decoration: none;
            font-size: 1em;
            font-weight: 300;

            &:hover {
              cursor: pointer;
            }
          }

          .icon-disabled {
            border-radius: 8px;
            align-items: center;
            padding: 8px;
            text-decoration: none;
            font-size: 1em;
            font-weight: 300;
            opacity: 0.5;
          }
        }

        .upload-container-body {
          margin-top: 10px;
          display: flex;

          // for any scrollable popular list
          .scroll-container {
            position: relative;
            // margin-left: 0em;

            .scroll {
              display: flex;
              overflow-x: scroll;
              max-width: 330px;
              padding-bottom: 15px;
              margin-left: 0.75em;
            }

            .before-overlay {
              content: "";
              position: absolute;
              z-index: 1;
              bottom: 0;
              left: 0;
              height: 100%;
              pointer-events: none;
              width: 15%;
            }

            .overlay {
              content: "";
              position: absolute;
              z-index: 1;
              bottom: 0;
              right: 0;
              height: 100%;
              pointer-events: none;
              width: 15%;
            }
          }
        }
      }

      .bottom-container {
        margin-top: 20px;
      }
    }

    .upload-containers-tabs {
      display: none;
      border-radius: 4px;
      padding: 20px;
      margin: 20px;
      margin-bottom: 0;
      margin-right: 0;
      height: fit-content;
      width: 413px;
      min-width: 330px;

      .upload-container {
        .upload-container-header {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .icon-enabled {
            // color: black;
            border-radius: 8px;
            align-items: center;
            padding: 8px;
            text-decoration: none;
            font-size: 1em;
            font-weight: 300;

            &:hover {
              cursor: pointer;
            }
          }

          .icon-disabled {
            border-radius: 8px;
            align-items: center;
            padding: 8px;
            text-decoration: none;
            font-size: 1em;
            font-weight: 300;
            opacity: 0.5;
          }
        }

        .upload-container-body {
          margin-top: 10px;
          display: flex;

          // for any scrollable popular list
          .scroll-container {
            position: relative;
            overflow: hidden;
            margin-left: 0em;

            .scroll {
              display: flex;
              overflow-x: scroll;
              width: 100%;
              padding-bottom: 15px;
              margin-left: 0.75em;
            }
            .before-overlay {
              content: "";
              position: absolute;
              z-index: 1;
              bottom: 0;
              left: 0;
              height: 100%;
              pointer-events: none;
              width: 15%;
            }

            .overlay {
              content: "";
              position: absolute;
              z-index: 1;
              bottom: 0;
              right: 0;
              height: 100%;
              pointer-events: none;
              width: 15%;
            }
          }
        }
      }
    }

    .preview-container {
      border-radius: 4px;
      padding: 20px;
      margin: 20px;
      height: fit-content;
      top: 90px;
      position: sticky;
      width: 413px;
      .preview-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;

        h4 {
          font-size: 20px;
          text-align: center;
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  // re-centers content when sidebar is absent
  .main {
    left: 0;
  }
}

// maybe get rid of these !importants
@media screen and (max-width: 820px) {
  .main {
    .main-components {
      flex-direction: column;
      align-items: center;
    }
  }
  // replace containers grid with tabs
  .upload-containers-grid {
    display: none !important;
  }

  .upload-containers-tabs {
    margin: 20px !important;
    margin-bottom: 0 !important;
    display: block !important;
    width: fit-content;
  }
}

@media screen and (max-width: 450px) {
  .upload-containers-tabs {
    margin: 0 !important;
    margin-bottom: 20px !important;
    width: 100% !important;
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.75) !important;
    .upload-container {
      // need something here
    }
  }

  .preview-container {
    margin: 0 !important;
    width: 100% !important;
    border: none !important;
    border-top: 0.5px solid rgba(128, 128, 128, 0.75) !important;
    border-radius: 0 !important;
  }
}

@media screen and (prefers-color-scheme: dark) {
  .main {
    .main-components {
      .upload-containers-grid {
        .upload-container {
          background-color: $dm-bg-upload-container;
          border: 0.5px solid rgba(128, 128, 128, 0.75);

          .upload-container-header {
            h5 {
              color: $dm-header;
            }

            .icon-enabled {
              color: $dm-header;

              &:hover {
                cursor: pointer;
                opacity: 0.75;
                background-color: rgba(128, 128, 128, 0.25);
              }
            }

            .icon-disabled {
              color: $dm-icon-disabled;
            }
          }

          .upload-container-body {
            .scroll-container {
              position: relative;

              .before-overlay {
                background-image: linear-gradient(
                  to right,
                  $dm-bg-upload-container,
                  rgba(28, 28, 33, 0)
                );
                width: 15%;
              }

              .overlay {
                background-image: linear-gradient(
                  to left,
                  $dm-bg-upload-container,
                  rgba(28, 28, 33, 0)
                );
                width: 15%;
              }
            }
          }
        }
      }

      .upload-containers-tabs {
        background-color: $dm-bg-upload-container;
        border: 0.5px solid rgba(128, 128, 128, 0.75);
        .upload-container {
          background-color: $dm-bg-upload-container;

          .upload-container-header {
            h5 {
              color: $dm-header;
            }

            .icon-enabled {
              color: $dm-header;

              &:hover {
                cursor: pointer;
                opacity: 0.75;
                background-color: rgba(128, 128, 128, 0.25);
              }
            }

            .icon-disabled {
              color: $dm-icon-disabled;
            }
          }

          .upload-container-body {
            .scroll-container {
              .before-overlay {
                background-image: linear-gradient(
                  to right,
                  $dm-bg-upload-container,
                  rgba(28, 28, 33, 0)
                );
                width: 15%;
              }

              .overlay {
                background-image: linear-gradient(
                  to left,
                  $dm-bg-upload-container,
                  rgba(28, 28, 33, 0)
                );
                width: 15%;
              }
            }
          }
        }
      }

      .preview-container {
        background-color: $dm-bg-upload-container;
        border: 0.5px solid rgba(128, 128, 128, 0.75);

        h5 {
          color: $dm-header;
        }

        .preview-header {
          h4 {
            color: $dm-icon-disabled;
            opacity: 0.5;
          }
        }
      }
    }
  }
}

@media screen and (prefers-color-scheme: light) {
  .main {
    .main-components {
      .upload-containers-grid {
        .upload-container {
          background-color: white;
          border: 0.5px solid rgba(128, 128, 128, 0.75);

          .upload-container-header {
            .icon-enabled {
              color: black;

              &:hover {
                cursor: pointer;
                opacity: 0.75;
                background-color: rgba(128, 128, 128, 0.25);
              }
            }

            .icon-disabled {
              color: black;
            }
          }

          .upload-container-body {
            .scroll-container {
              position: relative;

              .before-overlay {
                background-image: linear-gradient(
                  to left,
                  rgba(255, 255, 255, 0),
                  white
                );
                width: 15%;
              }

              .overlay {
                background-image: linear-gradient(
                  to right,
                  rgba(255, 255, 255, 0),
                  white
                );
                width: 15%;
              }
            }
          }
        }
      }

      .upload-containers-tabs {
        background-color: white;
        border: 0.5px solid rgba(128, 128, 128, 0.75);

        .upload-container {
          .upload-container-header {
            .icon-enabled {
              color: black;

              &:hover {
                cursor: pointer;
                opacity: 0.75;
                background-color: rgba(128, 128, 128, 0.25);
              }
            }

            .icon-disabled {
              color: black;
            }
          }

          .upload-container-body {
            .scroll-container {
              .before-overlay {
                background-image: linear-gradient(
                  to left,
                  rgba(255, 255, 255, 0),
                  white
                );
                width: 15%;
              }

              .overlay {
                background-image: linear-gradient(
                  to right,
                  rgba(255, 255, 255, 0),
                  white
                );
                width: 15%;
              }
            }
          }
        }
      }

      .preview-container {
        background-color: white;
        border: 0.5px solid rgba(128, 128, 128, 0.75);

        .preview-header {
          h4 {
            color: rgba(128, 128, 128, 0.5);
          }
        }
      }
    }
  }
}
