.main {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 70px;
  margin-left: 140px;

  .main-content {
    display: flex;
    justify-content: center;

    .upload-content {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 1050px) {
  .main {
    margin-left: 0px;
  }
}

@media screen and (max-width: 880px) {
  .main {
    .main-content {
      flex-direction: column;
      .upload-content {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 610px) {
  .main {
    margin-left: 0;
  }
}

@media screen and (max-width: 450px) {
  .main {
    justify-content: flex-start;
    .main-content {
      margin: 0;
      width: fit-content;
    }
  }
}
