$width: 254.98px;
$height: 143.42px;
$channel-pic-width: 38px;
$channel-pic-height: 38px;

.upload-container-hover {
  &:hover {
    opacity: 0.75;
    transform: scale(101%);
  }
}

.upload-channel-container {
  border: 1px dashed rgba(128, 128, 128, 0.75);
  background-color: rgba(128, 128, 128, 0.1);
  border-radius: 12px;
  width: calc(370px * 1.2);
  height: calc(208.11px * 1.2);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  overflow: hidden;
  background-size: contain;
  position: relative;

  img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .crop-border {
    position: absolute;
    z-index: 2;
    height: 100%;
    left: 0;
    width: 402px;

    .vertical {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .arrow-up,
      .arrow-down {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 7.5px 0 7.5px 18px;
        font-size: 20px;
        color: white;

        &:hover {
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.75);
        }
      }
    }

    .horizontal {
      height: 100px;
      width: 100%;
      margin-top: 35px;
      position: absolute;
      display: flex;
      top: 0;

      justify-content: space-between;
      .arrow-left,
      .arrow-right {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 78.75px 7.5px;
        font-size: 20px;
        color: white;

        &:hover {
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.75);
        }
      }
    }
  }

  .sidebar {
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    border-left: 1px solid black;
    margin-top: auto;
    z-index: 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .zoom,
    .clear,
    .reset {
      color: white;
      font-size: 20px;

      &:hover {
        cursor: pointer;
        opacity: 0.75;
      }
    }
    .zoom {
      margin-top: 20px;
    }

    .reset:focus,
    .reset:active {
      outline: none !important;
      box-shadow: none !important;
    }
  }

  .upload {
    text-align: center;
    margin: auto 0;
    color: rgba(128, 128, 128, 0.75);

    .hidden-input {
      cursor: pointer;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.notes {
  font-size: 11px;
  max-width: 500px;
  font-style: italic;

  ul {
    list-style: none;
    margin-top: 5px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 1023px) {
  .upload-channel-container {
    width: calc(370px * 1);
    height: calc(208.11px * 1);

    .crop-border {
      width: 329px;

      .vertical {
        .arrow-up,
        .arrow-down {
          padding: 7.5px 0 7.5px 10px;
          font-size: 18px;
        }
      }

      .horizontal {
        top: -2px;

        justify-content: space-between;
        .arrow-left,
        .arrow-right {
          padding: 61px 7.5px;
          font-size: 18px;
        }
      }
    }

    .sidebar {
      .zoom,
      .clear,
      .reset {
        font-size: 18px;
      }
      .zoom {
        margin-top: 20px;
      }
    }
  }
  .notes {
    width: 350px;
  }
}
