$lm-bold-color: #262626;
$lm-light-gray: #878787;
$dm-bold-color: rgb(252, 252, 252);
$dm-light-gray: rgb(188, 189, 190);

.instagram-post-preview {
  background-color: white;
  border: 0.5px solid rgba(128, 128, 128, 0.75);
  border-radius: 4px;
  padding: 20px;
  margin: 20px;
  height: fit-content;
  position: sticky;
  top: 90px;

  .instagram-post-preview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;

    h4 {
      font-size: 20px;
      text-align: center;
      color: rgba(128, 128, 128, 0.5);
      margin-bottom: 0;
    }
  }

  img {
    height: 100%;
    width: 100%;
  }

  .light {
    background-color: white;
    .username,
    .likes {
      color: $lm-bold-color;
    }

    .comments,
    .date {
      color: $lm-light-gray;
    }
  }

  .dark {
    background-color: rgb(0, 0, 0);
    color: white;

    .username,
    .likes {
      color: $dm-bold-color;
    }

    .comments,
    .description,
    .date {
      color: $dm-light-gray;
    }
  }

  .instagram-post-preview-container {
    .post-header {
      align-items: center;
      display: flex;
      padding: 10px;
      position: relative;

      img,
      .account-backdrop {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 8px;
      }

      .account-backdrop {
        border: 1px dashed rgba(193, 53, 132, 0.5);
        background-color: rgba(193, 53, 132, 0.1);
      }

      .username {
        font-weight: bold;
        font-size: 14px;
        margin-right: auto;
      }

      .instagram-verified {
        margin-left: 4px;
        width: 12px;
        height: 12px;
        margin-bottom: 3px;
      }

      .post-header-options {
        width: 15px;
        height: 15px;
        opacity: 0.75;
        margin: 0;
      }
    }

    .post-body {
      min-height: 212px;
      max-height: 471px;
      overflow: hidden;
      background-color: rgb(193, 53, 132, 0.1);
    }

    .upload-photo-backdrop {
      height: 212px;
      border-top: 1px dashed rgb(193, 53, 132, 0.5);
      border-bottom: 1px dashed rgb(193, 53, 132, 0.5);
      background-color: rgb(193, 53, 132, 0.1);
    }

    .post-footer {
      padding: 14px 16px;
      padding-bottom: 2px;
      padding-top: 2px;

      .post-footer-data {
        // display: flex;
        // margin-bottom: 10px;
        .like-bar {
          img {
            width: 380px;
            // height: 23px;
            padding-right: 25px;
          }
        }
      }

      .likes {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 4px;
      }

      .username {
        font-weight: bold;
        font-size: 14px;
      }

      .description {
        max-width: 350px;
        font-size: 14px;
        line-height: 17px;
        max-height: 35px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box !important;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
        margin-bottom: 4px;
      }

      .comments {
        font-size: 14px;
        margin-bottom: 4px;
      }

      .date {
        font-size: 10px;
        display: flex;

        .month {
          margin-right: 5px;
        }
        .day {
          margin-right: 5px;
        }
      }
    }
  }

  .post-download {
    background-color: rgba(193, 53, 132, 1);
    text-align: center;
    align-items: center;
    border: none;
    width: 100%;
    color: white;
    padding: 10px;

    &:hover {
      cursor: pointer;
      opacity: 0.75;
    }
  }
}

@media screen and (min-width: 451px) {
  .instagram-post-preview {
    max-width: 420px;
    width: 420px;

    .instagram-post-preview-container {
      min-width: 370px;
    }
  }
}

@media screen and (max-width: 450px) {
  .instagram-post-preview {
    margin: 0;
    border-radius: 0;
    width: 100vw;
    min-width: none;

    .instagram-post-preview-container {
      min-width: none;
    }
    .instagram-post-preview-container {
      .post-header {
        align-items: center;
        display: flex;
        padding: 2.222vw;
        position: relative;

        img,
        .account-backdrop {
          width: 7.111vw;
          height: 7.111vw;
          border-radius: 50%;
          margin-right: 1.778vw;
        }

        .account-backdrop {
          border: 1px dashed rgba(193, 53, 132, 0.5);
          background-color: rgba(193, 53, 132, 0.1);
        }

        .username {
          font-weight: bold;
          font-size: 3.111vw;
          margin-right: auto;
        }

        .instagram-verified {
          margin-left: 0.889vw;
          width: 2.667vw;
          height: 2.667vw;
          margin-bottom: 0.667vw;
        }

        .post-header-options {
          width: 3.333vw;
          height: 3.333vw;
          opacity: 0.75;
          margin: 0;
        }
      }

      .post-body {
        min-height: 47.111vw;
        max-height: 104.667vw;
        overflow: hidden;
        background-color: rgb(193, 53, 132, 0.1);
      }

      .upload-photo-backdrop {
        height: 47.111vw;
        border-top: 1px dashed rgb(193, 53, 132, 0.5);
        border-bottom: 1px dashed rgb(193, 53, 132, 0.5);
        background-color: rgb(193, 53, 132, 0.1);
      }

      .post-footer {
        padding: 3.111vw 3.556vw;
        padding-bottom: 0.444vw;
        padding-top: 0.444vw;

        .post-footer-data {
          .like-bar {
            img {
              width: 88.889vw;
            }
          }
        }

        .likes {
          font-weight: bold;
          font-size: 3.111vw;
          margin-bottom: 0.889vw;
        }

        .username {
          font-weight: bold;
          font-size: 3.111vw;
        }

        .description {
          max-width: 77.778vw;
          font-size: 3.111vw;
          line-height: 3.778vw;
          max-height: 7.778vw;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box !important;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          white-space: normal;
          margin-bottom: 0.889vw;
        }

        .comments {
          font-size: 3.111vw;
          margin-bottom: 0.889vw;
        }

        .date {
          font-size: 2.222vw;
          display: flex;

          .month {
            margin-right: 1.111vw;
          }
          .day {
            margin-right: 1.111vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .instagram-post-preview {
    min-width: 320px;

    .instagram-post-preview-container {
      min-width: none;
    }
    .instagram-post-preview-container {
      .post-header {
        align-items: center;
        display: flex;
        padding: 7.1104px;
        position: relative;

        img,
        .account-backdrop {
          width: 22.7552px;
          height: 22.7552px;
          border-radius: 50%;
          margin-right: 5.6896px;
        }

        .account-backdrop {
          border: 1px dashed rgba(193, 53, 132, 0.5);
          background-color: rgba(193, 53, 132, 0.1);
        }

        .username {
          font-weight: bold;
          font-size: 9.9552px;
          margin-right: auto;
        }

        .instagram-verified {
          margin-left: 2.8px;
          width: 8.53px;
          height: 8.53px;
          margin-bottom: 2.1px;
        }

        .post-header-options {
          width: 10.6px;
          height: 10.6px;
          opacity: 0.75;
          margin: 0;
        }
      }

      .post-body {
        min-height: 150.7552px;
        max-height: 334.9344px;
        overflow: hidden;
        background-color: rgb(193, 53, 132, 0.1);
      }

      .upload-photo-backdrop {
        height: 150.7552px;
        border-top: 1px dashed rgb(193, 53, 132, 0.5);
        border-bottom: 1px dashed rgb(193, 53, 132, 0.5);
        background-color: rgb(193, 53, 132, 0.1);
      }

      .post-footer {
        padding: 1.42px 11.37px;

        .post-footer-data {
          .like-bar {
            img {
              width: 284px;
            }
          }
        }

        .likes {
          font-weight: bold;
          font-size: 10px;
          margin-bottom: 2.8px;
        }

        .username {
          font-weight: bold;
          font-size: 10px;
        }

        .description {
          max-width: 248.8896px;
          font-size: 9.9552px;
          line-height: 12.0896px;
          max-height: 24.8896px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box !important;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          white-space: normal;
          margin-bottom: 2.8448px;
        }

        .comments {
          font-size: 9.9552px;
          margin-bottom: 2.8448px;
        }

        .date {
          font-size: 7.1104px;
          display: flex;

          .month {
            margin-right: 3.5552px;
          }
          .day {
            margin-right: 3.5552px;
          }
        }
      }
    }
  }
}
