$width: 254.98px;
$height: 143.42px;
$channel-pic-width: 48px;
$channel-pic-height: 48px;
$title-font: 14px;
$desc-font: 12px;

.thumbnail-container {
  background-color: white;
  border: 0.5px solid rgba(128, 128, 128, 0.75);
  border-radius: 4px;
  padding: 20px;
  margin: 20px;
  margin-bottom: 0;
  margin-right: 0;
  height: fit-content;
  max-width: 413px;

  .upload-thumb-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon-enabled {
      color: black;
      border-radius: 8px;
      align-items: center;
      padding: 8px;
      text-decoration: none;
      font-size: 1em;
      font-weight: 300;

      &:hover {
        cursor: pointer;
        opacity: 0.75;
        background-color: rgba(128, 128, 128, 0.25);
      }
    }

    .icon-disabled {
      color: black;
      border-radius: 8px;
      align-items: center;
      padding: 8px;
      text-decoration: none;
      font-size: 1em;
      font-weight: 300;
      opacity: 0.5;
    }
  }

  .upload-thumb-body {
    margin-top: 10px;
    display: flex;
    align-items: center;

    .upload-thumb-container {
      padding-bottom: 20px;
    }
  }

  .upload-thumb {
    min-width: calc(314.5px * 0.35);
    max-width: calc(314.5px * 0.35);
    height: calc(176.89px * 0.45);
    border: 1px dashed rgba(128, 128, 128, 0.75);
    background-color: rgba(128, 128, 128, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
      opacity: 0.75;
      transform: scale(101%);
    }

    .hidden-input {
      cursor: pointer;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }

    .upload-thumb-label {
      font-size: 10px;
    }

    svg {
      font-size: 10px;
    }
  }

  .scroll-container {
    position: relative;
    overflow: hidden;
    margin-left: 0em;
    width: fit-content;
    .before-overlay {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      height: 100%;
      pointer-events: none;
      background-image: linear-gradient(to left, rgba(255, 255, 255, 0), white);
      width: 15%;
    }

    .overlay {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 0;
      height: 100%;
      pointer-events: none;
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        white
      );
      width: 15%;
    }
  }

  .scroll {
    overflow-x: scroll;
    max-width: 330px;
    padding-bottom: 20px;
    margin-left: 1em;

    label {
      margin-bottom: 0.25em;
    }

    .temp {
      background-color: rgba(128, 128, 128, 0.1);
    }

    .temp,
    .blank-temp {
      min-width: calc(314.5px * 0.35);
      max-width: calc(314.5px * 0.35);
      height: calc(176.89px * 0.45);
      margin-right: 1em;

      &:hover {
        cursor: pointer;
        opacity: 0.75;
        transform: scale(101%);
      }

      .temp-label {
        text-align: center;
        color: white;
        background-color: red;
        border: 1px solid rgba(0, 0, 0, 0.6);
        font-size: 10px;
      }

      .blank-temp-label {
        text-align: center;
        color: black;
        background-color: rgba(255, 0, 0, 0.1);
        opacity: 0.75;
        border: 1px dashed rgba(255, 0, 0, 0.5);
        font-size: 10px;
      }

      img {
        width: 100%;
        height: 100%;
        border: 1px solid rgba(0, 0, 0, 0.6);
      }
    }

    .upload-thumb {
      border: 1px dashed rgba(128, 128, 128, 0.75);
      background-color: rgba(128, 128, 128, 0.1);
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .hidden-input {
        cursor: pointer;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }

      .upload-thumb-label {
        font-size: 10px;
      }

      svg {
        font-size: 10px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .thumbnail-container {
    overflow: hidden;
    width: fit-content;

    .upload-thumb-header {
      width: 100vw;
      padding-right: 40px;
      min-width: 320px;
    }

    .upload-thumb-body {
      width: 100vw;
      padding-right: 40px;
      min-width: 320px;
    }
    .scroll {
    }
  }
}
