.create {
  background-color: #dae0e6;
  height: calc(100vh - 71.77px);
  overflow: auto;

  input {
    &:hover {
      cursor: pointer;
    }
  }

  .container {
    padding: 0;
    background-color: white;
    margin-top: 50px;

    .form-control {
      width: 100%;
      background-color: #fff;
      border: 1px solid #ced4da;
      appearance: none;
      border-radius: 0;
    }

    .preview {
      min-height: 350px;
    }
  }
}

h3 {
  font-size: 25px;
}

.toggle {
  color: rgba(255, 0, 0, 0.5);
  margin-left: 5px;
  padding: 0;
}

.preview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;

  h4 {
    font-size: 20px;
    text-align: center;
    color: rgba(128, 128, 128, 0.5);
    margin-bottom: 0;
  }
}

.switch {
  display: flex;
  align-items: center;
  // transform: scale(50%);
}
