.center {
  align-items: baseline;
}

.twitter-input-container {
  margin-bottom: 3px;
  height: fit-content;

  label {
    font-size: 18px;
  }

  .twitter-input,
  textarea {
    width: 333px;
  }

  .twitter-input,
  textarea {
    background-color: rgba(128, 128, 128, 0.1);
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 25px;
    outline: none;
    border: 1px dashed rgba(128, 128, 128, 0.75);
    resize: none;
  }

  .twitter-name {
    background-color: rgba(128, 128, 128, 0.1);
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 25px;
    outline: none;
    border: 1px dashed rgba(128, 128, 128, 0.75);
    resize: none;
  }

  .twitter-input:focus,
  textarea:focus {
    background-color: rgba(128, 128, 128, 0.25);
  }
}

.twitter-date-input,
.twitter-timepicker,
.twitter-select {
  background-color: rgba(128, 128, 128, 0.1);
  outline: none;
  border: 1px dashed rgba(128, 128, 128, 0.75);
  font-size: 18px;
  margin-bottom: 10px;
  height: 40px;
}

.twitter-date-input,
.twitter-timepicker {
  width: 160px;
}

.form-check-input {
  height: 42px;
  width: 42px;
  margin-top: 1px;
  border-radius: 0 !important;
  float: right;
  background-color: rgba(128, 128, 128, 0.1);
  outline: none;
  border: 1px dashed rgba(128, 128, 128, 0.75);
}

.form-check-input:focus {
  box-shadow: none;
  border: 1px dashed rgba(128, 128, 128, 0.75);
}

.form-check-input:checked {
  background-color: rgb(29, 155, 240);
}
