@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url("./static/fonts/SF-Pro.ttf"), format("truetype");
}

@font-face {
  font-family: "SF-Compact";
  src: local("SF-Compact"), url("./static/fonts/SF-Compact-Rounded-Black.otf"),
    format("opentype");
}

html,
body {
  font-family: "Roboto", "Arial", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto", "Arial", sans-serif;
}

html,
body,
#root,
.App {
  min-height: 100%;
  min-width: 100%;
  background-color: #f0f5fa;
}
