.download {
  width: 372px;
  border: 1px solid black;
  background-color: red;
  color: white;
  padding: 10px;

  &:hover {
    opacity: 0.75;
  }
}

.not-active {
  cursor: default;
  text-align: center;
  align-items: center;
  width: 372px;
  border: 1px solid black;
  background-color: red;
  color: white;
  padding: 10px;
  opacity: 0.75;
}
